@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: aliceblue;
  text-align: center;
  color: navy;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
  background-image: linear-gradient(to top, navy, gold);
  color: transparent;
  background-clip: text;
  font-family: fantasy;
}

#myCanvas {
  background-image: url(https://m.media-amazon.com/images/I/71+efRjg+3L._AC_UF894,1000_QL80_.jpg);
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



